/***********************************************************************/
/** 	\file	search_results_single_meeting_print.css

	\brief	This file contains the print styles that cascade over the
	standard screen styles for when a single meeting is being shown.
    
    This file is part of the Basic Meeting List Toolbox (BMLT).
    
    Find out more at: http://magshare.org/bmlt

    BMLT is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
*/

/**
	We don't show elements that have been assigned a "no_print" class,
	and we don't show the close <div> at the bottom.
*/
.no_print,
.close_div
{
	display: none;
}

a.single_header_link,
a.single_header_link:visited
{
	color: white !important;
	text-decoration: none;
}
