/***********************************************************************/
/** 	\file	search_results_list_print.css

	\brief	This file contains the print styles that cascade over the
	standard screen styles for when a list of meetings is being shown.
    
    This file is part of the Basic Meeting List Toolbox (BMLT).
    
    Find out more at: http://magshare.org/bmlt

    BMLT is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
*/

/**
	Local server background page should be white.
*/
body.admin_body
{
	background-color: white;
}

/**
	We override the absolute positioning, as static prints better.
*/
#c_comdef_search_results_single_ajax_div
{
	position: static;
	width: 100%;
	margin: 0;
}

/**
	We definitely don't show links as links.
*/
a
{
	text-decoration: none !important;
	background-image: none !important;
	color: black !important;
}

/**
	The radius link is colored white.
*/
.c_comdef_map_link_header_a
{
	color: white !important;
}

/**
	The <thead> links look like regular text.
*/
.c_comdef_search_results_table thead a,
.c_comdef_search_results_table thead a:visited
{
	color: white !important;
}
