[submodule "main_server/client_interface/html/bmlt-basic/BMLT-Satellite-Base-Class"]
	path = main_server/client_interface/html/bmlt-basic/BMLT-Satellite-Base-Class
	url = git@github.com:MAGSHARE/BMLT-Satellite-Base-Class.git
