.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.phpstan.neon export-ignore
.nvmrc export-ignore
composer.json export-ignore
composer.lock export-ignore
hashed_pw.txt export-ignore
icon.png export-ignore
phpunit.xml export-ignore
/Misc export-ignore
/doc export-ignore
.svelte-kit export-ignore
