*.iml
.idea
/auto-config.inc.php
main_server/vendor
.terraform
.DS_Store
bmlt_conversion_tables.php
docs
node_modules
src/legacy/client_interface/html/croutonjs
croutonjs.zip
terraform.tfvars
build
docker/docker-compose.dev.yml
