language: php
php:
- "7.1"
jobs:
  include:
  - stage: lint
    script: find . -name "*.php" ! -path '*/vendor/*' -print0 | xargs -0 -n1 -P8 php -l
  - stage: stable
    install:
    - composer install
    before_deploy:
    - git archive --format=zip --output=bmlt-root-server.zip ${TRAVIS_TAG}
    - zip -ur bmlt-root-server.zip vendor
    deploy:
      provider: releases
      api_key:
        secure: TvmwmGIIjYkvvoqETBN2Zv/UipL3ieFnE5N8eoZhXW16qeiw5uNzxzHkIABLLNh3cqtGD5CuIVyR7M6bZDig3Y98HZxToAW1Is1+2wsc29kURGT7Zbb9EVMJoFIj9P5L79UMXr1aSvabWl5oPHQsstwOWxU4onpT1Xe3AHkojc/cbIPLJBlFh+7VBEoi4RMamVf0te8gPxZ6qjbDhgTgLEcH2N7xyUtDgPMnZST3eJsFOPvEMpXLCciehWgZL1spzmaDD1bpOPFAYVqeeiLc5sz+cSFCWmyw3y+XT6G2pmVQfGzHyWJEBHYvYKBoaYw3ML/DuYXftu1BT1YhBS/6zqA0ORlWeyfYB5CM+ZT+3kPu36YHMQM5BLdUcXvY94mydiUzwX8qValVoK/19wXDk3JM57S527AjkEHcDNDWXgofftzxmWOM91VGI1xQXxZGTOdlH0kIIeJ1/Ybnwhmawb3oICQEIRdtNi8ru2cZsUDV3RLKJ0Apavbbu62yB2IBuZ/qLhJEU429t33KwJIWS7Ull2A59CKjQOyk2Qngt1lEyYs6Bo2O+iLfpLlXkZwYSbrE97CKrpd34DE5p5MusQl1njfCqkG8SD3cb+yzWEdKL0BVQGbNpNYD7MABagWdwzDvRroHF5N0RXp2xzz6JGpnlBhcgL515FFmCQNufwk=
      file: bmlt-root-server.zip
      on:
        repo: radius314/bmlt-root-server
        tags: true
      skip_cleanup: true
stages:
- lint
- name: stable
  if: tag IS present
notifications:
  slack:
    secure: ZslruaPwvC9Eqr1AFPl/p82UyH0oMy9HBWKROF+z7E/N/nlItGjojAkTBbRRAJIzi58YOeJDVbmTjHvI2MYYeYWX1zawkcjVfJa4RDmeqTmj937hBQW/bKEVN3WqNnL0OewDFVXENETzWs3I63e7par7SO7/SR5gJrMKLtK9fTyGi74hgqVWyQSCLNBgZBMPkNmoZ9sfSCgijPxkXYMNJKTgxWYXvAMevWyfQXv+SoBCQ1hh1hsM4LgT5he5id54iEZY7yVEQZkzsZ0HRDnD+JcquJTuaN2B+PNaHL4RtxhWdNjvnkrHJoB0/F3OKuGs0++6T/25jCow0svfrOk9/dDKlH0R1+deCfH0AMj2QM022Ww10iZHDZffwBkUpFayXArCbmUsEdo0IT8Ra1EUx+7E+0+3f4ihlJez6/wwkWfkKfVwNfkhmu4SnwRzf9r0Ryex/xBngDcKerkQ6xsWr3lc6+wQDWZV60224716nMoFZdZIDAvKc+/fNAIc/PtSvZixawEERLV9XyglBMUwKFqyaQtyw1KENxGKbobP9HBkd5cVzGD29Eu7z3xQyN256/NacGu7vyUawyfh0czjkcvHkrrXbmOljmQOwDf1KB/cWFdASO3VFSKfTPE4zgBzjzgN9iEnKslwfHw/z8FRYuCBdXasST+ufln4/j5u3wE=
    on_success: change
  email: false
