*
{
    margin:0;
    padding:0;
}

body
{
    font-family: Verdana;
    text-align:center;
}

input[type="text"]
{
    color:#009;
    border:1px solid #669;
    background-color:#eef;
    padding: 0.125em;
    padding-left: 0.2em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}

dl
{
    margin-left:0.25em;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

dd dl
{
    margin-top:0;
    margin-left:2em;
}

html,
body,
input.bmlt_semantic_form_root_server_text_input,
fieldset.bmlt_semantic_form_main_fieldset,
div.bmlt_semantic_form_direct_url_div
{
    width:100%;
}

div.bmlt_semantic_form_div
{
    width:97%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    padding-top: 1em;
}

input.bmlt_semantic_form_disabled_text
{
    color: #669;
}

div.bmlt_checkbox_container
{
    float:left;
    width:10em;
}

div.bmlt_weekday_checkbox_container
{
    float:left;
    width:14%;
    min-width: 7em;
    padding-left:0.125em;
}

div.clear_both
{
    float:none;
    clear:both;
}

div.bmlt_checkbox_container label,
dt.bmlt_sb_dt label
{
    padding-left:0.25em;
    font-weight:bold;
}

fieldset.bmlt_semantic_form_formats_fieldset div.bmlt_checkbox_container,
fieldset.bmlt_semantic_form_main_fields_fieldset div.bmlt_checkbox_container,
input.bmlt_semantic_form_text_search_radius_text
{
    width: 4em;
}

fieldset
{
    margin:0.5em;
    padding:0.25em;
    -moz-border-radius: 0.75em;
    -webkit-border-radius: 0.75em;
    border-radius: 0.75em;
}

fieldset,
fieldset legend
{
    border: 1px solid #555;
}

fieldset.bmlt_semantic_form_main_fieldset
{
    margin: 0;
    margin-top:2em;
}

fieldset legend
{
    background-color: #ff6;
    font-weight:bold;
    font-size:medium;
    padding-top:0.125em;
    padding-bottom:0.125em;
    padding-left:0.25em;
    padding-right:0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}

label
{
    font-weight:bold;
    font-size:small;
    padding: 0.25em;
}

fieldset legend label
{
    font-size:medium;
    padding-left: 0;
}

div.bmlt_workshop_blurb_note_div
{
    padding: 0.5em;
    margin: 0.125em;
    background-color: #fc9;
    border: 1px solid #fc9;
    font-style: italic;
    font-size: x-small;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0.125em 0.125em 0.125em #888;
}

input.bmlt_semantic_form_changes_date_text
{
    width:7em;
}

input.bmlt_semantic_form_changes_id_text,
input.bmlt_semantic_form_changes_sb_id_text
{
    width:4em;
}

input.bmlt_semantic_form_text_search_text
{
    width:32em;
}

div.bmlt_semantic_form_changes_div label
{
    display:block;
    float:left;
    clear:both;
    width:40em;
    text-align:right;
}

select.bmlt_semantic_form_value_select
{
    width: 12em;
}

input.bmlt_semantic_form_value_text
{
    width: 50em;
}

div.bmlt_semantic_info_div_download_line,
div.bmlt_semantic_info_div_shortcode_line
{
    text-align:center;
}

div.bmlt_semantic_info_div_download_line span.info_label,
div.bmlt_semantic_info_div_shortcode_line span.info_label
{
    font-weight:bold;
    font-style:normal;
    margin-right:0.25em;
}

div.bmlt_semantic_info_div_result_url_wrapper,
div.bmlt_semantic_info_div_shortcode_wrapper
{
    padding: 0.5em;
    margin-top: 0.125em;
    background-color: #ffc;
    border: 1px solid #f00;
    font-size: small;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0.125em 0.125em 0.125em #888;
}

div.bmlt_semantic_version_wrapper
{
    float:right;
    margin-right:2em;
}

div.bmlt_semantic_form_map_div
{
    width: 100%;
    height: 50em;
    background-color: #ffc;
}

div.bmlt_semantic_header
{
    width:100%;
    height: 2em;
    position:fixed;
    z-index: 10001;
}

div.bmlt_semantic_footer
{
    font-size:small;
    font-style:italic;
}
