{
  "openapi": "3.0.0",
  "info": {
    "title": "BMLT - OpenAPI 3.0",
    "description": "BMLT Admin API Documentation",
    "license": {
      "name": "MIT",
      "url": "https://github.com/bmlt-enabled/bmlt-root-server/blob/main/LICENSE"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://latest.aws.bmlt.app/main_server",
      "description": "BMLT Admin API Server"
    }
  ],
  "paths": {
    "/api/v1/auth/token": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Sign in",
        "description": "Login by username, password",
        "operationId": "authLogin",
        "requestBody": {
          "description": "Pass user credentials",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "format": "username",
                    "example": "MyUsername"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "PassWord12345"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "Wrong credentials response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sorry, wrong email address or password. Please try again"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}
