$error-color: #ff4d4d; // Lighter red for better contrast in dark mode
$button-bg-color: #2a2a2a;
$button-hover-bg-color: #135ba1;
$border-color: #555;
$border-radius: 3px;
$font-family-default: Arial, sans-serif;
$background-light: #2a2a2a; // Dark background
$background-dark: #1a1a1a; // Even darker background
$background-white: #333333; // Darker white substitute
$text-color-dark: #ddd; // Light text color

.dark .download-links {
  display: inline-block;
  padding: 8px;
}

.dark .error,
.dark #errorMessages {
  color: $error-color;
}

.dark #errorMessages,
.dark #description,
.dark h1,
.dark .download-links,
.dark .footer-link,
.dark #footer,
.dark #inner-box {
  text-align: center;
}

.dark h1 {
  color: #ffffff;
}

.dark #export-form,
.dark input[type='text'],
.dark input[type='password'],
.dark button,
.dark #inner-box,
.dark #footer {
  border-radius: $border-radius;
  box-sizing: border-box;
}

.dark #export-form,
.dark #inner-box {
  border: 1px solid $border-color;
}

.dark #inner-box {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $background-white;
}

.dark #export-form {
  font-family: $font-family-default;
  background-color: $background-light;
  max-width: 800px;
  margin: 20px auto 0;
  padding: 1px 20px 20px;
}

.dark input[type='text'],
.dark input[type='password'],
.dark button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.dark input[type='text'],
.dark input[type='password'] {
  border: 1px solid $border-color;
  background-color: #444; // Darker input background
  color: $text-color-dark;
}

.dark button {
  background-color: $button-bg-color;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-bottom: 15px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dark button:hover {
  background-color: #333333;
}

.dark .download-links,
.dark .footer-link,
.dark .download-links,
.dark .footer-link {
  text-decoration: none;
  color: #ffffff;
}

.dark a:hover {
  text-decoration: underline;
}

.dark #footer {
  padding: 10px;
  background-color: $background-dark;
  border: 1px solid $background-dark;
}

.dark #description {
  margin-top: 20px;
  font-size: 1em;
  color: $text-color-dark;
}
.dark .switch .icon {
  color: #ffffff;
}

.dark .generateButton {
  background-color: black;
}

$error-color-light: red;
$button-bg-color-light: #ffffff;
$button-hover-bg-color-light: #0056b3;
$border-color-light: #ccc;
$border-radius-light: 3px;
$font-family-default-light: Arial, sans-serif;
$background-light-light: #f7f7f7;
$background-dark-light: #f7f7f7;
$background-white-light: #fff;
$text-color-dark-light: #333;

.light .switch .icon {
  color: #000000;
}

.light .download-links {
  display: inline-block;
  padding: 8px;
}

.light .error,
.light #errorMessages {
  color: $error-color-light;
}

.light #errorMessages,
.light #description,
.light h1,
.light .download-links,
.light .footer-link,
.light #footer,
.light #inner-box {
  text-align: center;
}

.light h1 {
  color: #000000;
}

.light #export-form,
.light input[type='text'],
.light input[type='password'],
.light button,
.light #inner-box,
.light #footer {
  border-radius: $border-radius-light;
  box-sizing: border-box;
}

.light #export-form,
.light #inner-box {
  border: 1px solid $border-color-light;
}

.light #inner-box {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $background-white-light;
}

.light #export-form {
  font-family: $font-family-default-light;
  background-color: $background-light-light;
  max-width: 800px;
  margin: 20px auto 0;
  padding: 1px 20px 20px;
}

.light input[type='text'],
.light input[type='password'],
.light button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.light input[type='text'],
.light input[type='password'] {
  border: 1px solid $border-color-light;
}

.light button {
  background-color: $background-dark-light;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-bottom: 15px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.light button:hover {
  background-color: #ffffff;
}

.light .download-links,
.light .footer-link,
.light .download-links,
.light .footer-link {
  text-decoration: none;
  color: #1a1a1a;
}

.light a:hover {
  text-decoration: underline;
}

.light #footer {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid $background-dark-light;
}

.light #description {
  margin-top: 20px;
  font-size: 1em;
  color: $text-color-dark-light;
}

.dark body {
  background-color: #333;
}

.light body {
  background-color: #fff;
}

.dark .version {
  color: $text-color-dark;
}

.light .version {
  color: $text-color-dark-light;
}

.dark .form-txt {
  color: $text-color-dark;
}

.light .form-txt {
  color: $text-color-dark-light;
}
