/*
    This file is part of the Basic Meeting List Toolbox (BMLT).
    
    Find out more at: http://bmlt.magshare.org

    BMLT is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Generic Stuff */

*
{
    margin:0;
    padding: 0;
}

html,
body
{
    width: 100%;
    height: 100%;
}

body
{
    background-color:#009;
    font-family:Verdana,Helvetica,Arial,Sans-Serif;
    color:white;
}

div.page_1_wrapper div.bmlt_installer_page_2,
div.page_1_wrapper div.bmlt_installer_page_3,
div.page_1_wrapper div.bmlt_installer_page_4,
div.page_2_wrapper div.bmlt_installer_page_1,
div.page_2_wrapper div.bmlt_installer_page_3,
div.page_2_wrapper div.bmlt_installer_page_4,
div.page_3_wrapper div.bmlt_installer_page_1,
div.page_3_wrapper div.bmlt_installer_page_2,
div.page_3_wrapper div.bmlt_installer_page_4,
div.page_4_wrapper div.bmlt_installer_page_1,
div.page_4_wrapper div.bmlt_installer_page_2,
div.page_4_wrapper div.bmlt_installer_page_3
{
    display:none;
}

div.bmlt_installer_tab_bar
{
    margin-left:1em;
    margin-top:0.5em;
}

div.bmlt_installer_tab_1,
div.bmlt_installer_tab_2,
div.bmlt_installer_tab_3,
div.bmlt_installer_tab_4
{
    float:left;
}

div.bmlt_installer_tab_1 a,
div.bmlt_installer_tab_1 a:visited,
div.bmlt_installer_tab_2 a,
div.bmlt_installer_tab_2 a:visited,
div.bmlt_installer_tab_3 a,
div.bmlt_installer_tab_3 a:visited,
div.bmlt_installer_tab_4 a,
div.bmlt_installer_tab_4 a:visited
{
    display:block;
    color: #9cf;
    text-decoration:underline;
    text-align:center;
    font-size:large;
    font-weight:bold;
    padding:0.5em;
    padding-left:1em;
    padding-right:1em;
    -moz-border-radius-top-left: 4px;
    -moz-border-radius-top-right: 4px;
    -webkit-border-radius-top-left: 4px;
    -webkit-border-radius-top-right: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

div.bmlt_installer_tab_1 a:hover,
div.bmlt_installer_tab_1 a:active,
div.bmlt_installer_tab_2 a:hover,
div.bmlt_installer_tab_2 a:active,
div.bmlt_installer_tab_3 a:hover,
div.bmlt_installer_tab_3 a:active,
div.bmlt_installer_tab_4 a:hover,
div.bmlt_installer_tab_4 a:active
{
    color: #fc9;
    text-decoration:none;
}

div.page_1_wrapper div.bmlt_installer_tab_1 a,
div.page_1_wrapper div.bmlt_installer_tab_1 a:visited,
div.page_1_wrapper div.bmlt_installer_tab_1 a:hover,
div.page_1_wrapper div.bmlt_installer_tab_1 a:active,
div.page_2_wrapper div.bmlt_installer_tab_2 a,
div.page_2_wrapper div.bmlt_installer_tab_2 a:visited,
div.page_2_wrapper div.bmlt_installer_tab_2 a:hover,
div.page_2_wrapper div.bmlt_installer_tab_2 a:active,
div.page_3_wrapper div.bmlt_installer_tab_3 a,
div.page_3_wrapper div.bmlt_installer_tab_3 a:visited,
div.page_3_wrapper div.bmlt_installer_tab_3 a:hover,
div.page_3_wrapper div.bmlt_installer_tab_3 a:active,
div.page_4_wrapper div.bmlt_installer_tab_4 a,
div.page_4_wrapper div.bmlt_installer_tab_4 a:visited,
div.page_4_wrapper div.bmlt_installer_tab_4 a:hover,
div.page_4_wrapper div.bmlt_installer_tab_4 a:active
{
    background-color: white;
    text-decoration:none;
    color: #009;
    cursor: default;
}

div.page_content
{
    clear:both;
    background-color:white;
    color:#009;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align:left;
    padding:0.5em;
    margin:0.25em;
    margin-top:0em;
}

fieldset
{
    clear:both;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #009;
    margin:0.5em;
    padding: 0.5em;
}

div.explanatory_text_div
{
    padding:0.5em;
    font-size:small;
    font-weight:medium;
    font-style:italic;
}

div.one_line_div
{
    clear:both;
    float:none;
    padding: 0.25em;
}

label.left_right_aligned
{
    display:block;
    float:left;
    width:40%;
    text-align:right;
}

.bold_char
{
    font-weight:bold;
}

.red_char
{
    color:#c00;
}

.centered_text
{
    text-align:center;
}

.item_hidden
{
    display:none;
}

.clear_both
{
    clear:both;
}

div.right_left_aligned_div
{
    float:left;
    padding-left:0.25em;
    text-align:left;
}

input.bmlt_text_item_tiny,
input.bmlt_text_item_small,
input.bmlt_text_item_med,
input.bmlt_text_item,
textarea.bmlt_text_item_tiny,
textarea.bmlt_text_item_small,
textarea.bmlt_text_item_med,
textarea.bmlt_text_item
{
    padding:2px;
    background-color:white;
    color: #009;
    border: 1px solid #009;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

input.bmlt_text_item_tiny,
input.bmlt_text_item_small,
input.bmlt_text_item_med,
input.bmlt_text_item
{
    height:1em;
}

input.bmlt_text_item_tiny
{
    width:3em;
}

input.bmlt_text_item_small
{
    width:15em;
}

input.bmlt_text_item_med
{
    width:20em;
}

input.bmlt_text_item
{
    width:30em;
}

textarea.bmlt_text_item_tiny
{
    width:10em;
    height: 2em;
}

textarea.bmlt_text_item_small
{
    width:15em;
    height: 4em;
}

textarea.bmlt_text_item_med
{
    width:30em;
    height:3em;
}

textarea.bmlt_text_item
{
    width:30em;
    height: 10em;
}

input.bmlt_text_item_dimmed,
textarea.bmlt_text_item_dimmed
{
    color: #777;
    font-style:italic;
    background-color:#efefef;
}

.installer_error_display
{
    color:#f60;
    font-weight:bold;
    font-size:x-large;
}

div.right_left_aligned_div input
{
    margin-right:0.5em;
}

div.extra_text_div,
label.extra_text_label
{
    font-style:italic;
    padding-left:0.5em;
    padding-right:0.5em;
}

h1.page_heading_h1
{
    font-size:x-large;
    text-align:center;
}

h2.page_heading_h2
{
    margin-top:0.5em;
    font-size:medium;
    font-weight:normal;
    margin-bottom:1em;
}

div.installer_map_display_div
{
    height:400px;
    margin:1px;
}

div.installer_map_wrapper_div
{
    margin-top:1em;
    border:1px solid #009;
    background-color:#009;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

div.next_prev_container_div
{
    clear:both;
    float:none;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

div.prev_button_div
{
    float:left;
    text-align:left;
    width:40%;
}

div.next_button_div
{
    float:right;
    text-align:right;
    width:40%;
}


/* These are buttons */

a.bmlt_admin_ajax_button,
a.bmlt_admin_ajax_button:visited
{
    outline:none;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
    padding:0.1em;
    padding-left:1em;
    padding-right:1em;
    border: 1px solid #009;
    color: #009;
    font-weight:bold;
    font-size:small;
    text-decoration:none;
    background-color:white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor:default;
}

a.bmlt_admin_ajax_button:hover,
a.bmlt_admin_ajax_button:active
{
    outline:none;
    background-color:#009;
    color:white;
    border: 1px solid white;
}

span.bmlt_admin_ajax_button_throbber_span
{
    text-align:center;
}

span.bmlt_admin_ajax_button_throbber_span img
{
    margin:auto;
}

pre.result_code_pre
{
    margin: 0.5em;
    padding: 0.5em;
    border: 1px dashed #009;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#efefef;
}
