<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # If we don't turn this off, apache will issue a 301 redirect if a directory exists at %{REQUEST_FILENAME}
    DirectorySlash Off

    # If it matches a file, show the file... otherwise kick it back to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ ../index.php [L]
</IfModule>
