/node_modules
/public/build
/public/hot
/public/storage
/public/client_interface
/public/local_server
/public/semantic
/storage/*.key
/vendor
/tests/reports
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
tsconfig.tsbuildinfo
